.borrow-button {
    min-height: 30px;
    width: max(70px,17.5%);
    background-color: inherit;
    border: 1.9px solid #3b3b24;
    border-radius: 4px;
    margin-inline: 15px;
    font-weight: 550;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.01s;
}

.borrow-button:hover {
    font-weight: 650;
    transform: translate(-1.1px,-1.1px);
    box-shadow: 1.25px 1.25px 0.5px #3b3b2494;
}
.borrow-button:active {
    transform: translate(0);
    background-color: inherit;
    box-shadow: none;
}