#lending-button {
    min-height: 30px;
    width: max(70px,17.5%);
    background-color: inherit;
    border: 1.9px solid #3b3b24;
    border-radius: 4px;
    margin-inline: 15px;
    font-weight: 550;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.01s;
}

#lending-button:hover {
    background-color: #ecebb5;
}
#lending-button:active {
    transform: scale(0.985);
    background-color: inherit;
}