@keyframes pullupWindow {
    0% {
        top: 100%;
        left: 100%;
        scale: 10%;
        opacity: 0;
    }
    50% {
        scale: 40%;
        opacity: 0.7;
    }
    100% {
        top: 90px;
        left: 10%;
        scale: 100%;
        opacity: 1;
    }
}

@keyframes pulldownWindow {
    0% {
        top: 90px; left: 10%;
        scale: 100%; opacity: 1;
    }
    50% {
        top:50%; left: 40%;
        scale: 20%; opacity: 0.8;
    }
    100% {
        top: 100%; left: 100%;
        scale: 10%; opacity: 0;
    }
}

#lending.pullupWindow {
    animation: pullupWindow 0.5s;
}
#lending.pulldownWindow {
    animation: pulldownWindow 0.5s;
}
#lending {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 90px;
    left: 10%;
    height: 60%;
    width: 80%;
    border: 1px solid #3b3b24;
    border-radius: 1px;
    background-color: #fcfac0;
    box-shadow: 15px 15px 7px #3b3b2494;
    overflow-y: auto;
}
.window-header {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 40px;
    width: 100%;
    min-height: 45px;
    border-bottom: 5px solid #78a8c4;
    padding-bottom: 15px;
}
.window-header #lending-book-title {
    flex-grow: 2;
    overflow-wrap: anywhere;
}
.window-header #lending-book-id {
    justify-self: flex-start;
    margin-inline: 20px;
    cursor: default;
}
.window-header .borrow-button {
    justify-items: right;
}

#overlay {
    visibility: hidden;
    display: flex;
    position: fixed;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #424750bb;
}
@media screen and (width <= 600px) {
    .window-header {
        gap:5px;
    }
}